asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==4.2.3
gunicorn==21.2.0
mutagen==1.46.0
packaging==23.1
Pillow==10.0.0
psycopg2-binary==2.9.6
pydub==0.25.1
sqlparse==0.4.4
typing-extensions==4.7.1
django-storages==1.13.2
azure-storage-blob==12.17.0
psycopg2-binary==2.9.6
