{% extends "base.html" %}

{% block title %} New Track - HarmonyFlow{% endblock %}

{% block content %}
<div class="bg-neutral-900 rounded-lg h-full w-full overflow-hidden overflow-y-auto py-5">
    <h2 class="text-4xl font-bold mb-5 text-center text-white">New Track</h2>
    <div class="w-full max-w-xs mx-auto">
        <form method="POST" class=" rounded px-8 pt-6 pb-8 mb-4" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
            <div class="mb-4">
                <label class="block text-white text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                    {{ field.label }} {% if field.field.required %}<span class="text-red-500">*</span>{% endif %}
                </label>
                
                <!-- For each form field, we'll check the type and render the appropriate input -->
                {% if field.field.widget.input_type == "select" %}
                    <select class="rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="{{ field.id_for_label }}" name="{{ field.name }}">
                        {% for option in field.field.choices %}
                            <option value="{{ option.0 }}" {% if option.0 == field.value %}selected{% endif %}>{{ option.1 }}</option>
                        {% endfor %}
                    </select>
                {% elif field.field.widget.input_type == "date" %}
                    <input class="rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="{{ field.id_for_label }}" type="date" name="{{ field.name }}" value="{{ field.value|date:'Y-m-d' }}">
                {% elif field.field.widget.input_type == "file" %}
                    <input class="rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" id="{{ field.id_for_label }}" type="file" name="{{ field.name }}">
                {% else %}
                    <input class="rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="{{ field.id_for_label }}" type="text" placeholder="{{ field.label }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}">
                {% endif %}
                
                {% if field.errors %}
                    <p class="text-red-500 text-xs italic">{{ field.errors.0 }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <div class="flex items-center justify-between">
                <input class="bg-white hover:bg-neutral-800 text-black hover:text-white transition-colors duration-200 font-bold py-2 px-4 rounded" type="submit" value="Create">
            </div>
        </form>
    </div>
</div>
{% endblock %}