{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto py-10">
  <h1 class="text-6xl font-bold mb-5 text-center">Artists</h1>
  <div class="mb-4 text-left">
    <a href="{% url 'artists:artist_new' %}" class="bg-gray-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add New Artist</a>
  </div>
    {% for artist in artists %}
      <div class="bg-white shadow rounded p-4">
        <h2 class="font-bold text-xl mb-2">{{ artist.name }}</h2>
        {% if artist.photo %}
          <img src="{{ artist.photo.url }}" alt="{{ artist.name }}" class="w-full object-cover rounded">
        {% endif %}
        <a href="{% url 'artists:artist_detail' artist.id %}" class="text-blue-500 hover:underline">View</a>
      </div>
    {% empty %}
      <div class="bg-white shadow rounded p-4">
        <p>No artists found.</p>
      </div>
    {% endfor %}
</div>
{% endblock %}