<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HarmonyFlow{% endblock %}</title>
    <!-- Include Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="flex items-center justify-between flex-wrap bg-gray-900 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-semibold text-xl tracking-tight">Harmony Flow</span>
        </div>
        <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-gray-300 border-gray-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v15z"/></svg>
            </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="{% url 'home' %}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-white mr-4">
                  Home
                </a>
                <a href="{% url 'albums:album_list' %}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-white mr-4">
                  Albums
                </a>
                <a href="{% url 'artists:artist_list' %}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-white mr-4">
                  Artists
                </a>
                <a href="{% url 'playlists:playlist_list' %}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-white mr-4">
                  Playlists
                </a>
                <a href="{% url 'tracks:track_list' %}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-white mr-4">
                  Tracks
                </a>
                <a href="{% url 'artists:artist_list' %}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-white mr-4">
                  User Songs
                </a>
            </div>
            <div>
              {% if user.is_authenticated %}
                  <!-- Logged-in Navbar -->
                  <a href="{% url 'users:user_detail' user.pk %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-500 hover:bg-white mt-4 lg:mt-0">Profile</a>
                  <a href="{% url 'users:logout' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-500 hover:bg-white mt-4 lg:mt-0">Logout</a>
              {% else %}
                <a href="{% url 'users:login' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-500 hover:bg-white mt-4 lg:mt-0">Sign In</a>
                <a href="{% url 'users:register' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-500 hover:bg-white mt-4 lg:mt-0 ml-2">Sign Up</a>
              {% endif %}
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container mx-auto mt-10">
        {% block content %}
        <!-- The actual content goes here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer bg-gray-900 mt-10">
        <div class="container mx-auto text-white text-center p-6">
            Harmony Flow © 2023
        </div>
    </footer>
</body>
</html>