{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HarmonyFlow{% endblock %}</title>
    <!-- Include Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</head>
<body class="flex min-h-screen bg-black">
    <aside class="hidden md:flex flex-col gap-y-2 bg-black h-full w-[300px] p-2" style="height: 100vh;">
      <div class="bg-neutral-900 rounded-lg flex flex-col justify-between h-full">
        <div class="flex flex-col gap-y-4 px-5 py-4">
            
            <!-- Home Link -->
            <a class="flex flex-row h-auto items-center w-full gap-x-4 text-md font-medium cursor-pointer hover:text-white transition py-1 text-white" href="{% url 'home' %}">
                <!-- SVG icon for Home -->
                <p class="truncate w-100">Home</p>
            </a>
            <!-- Search Link -->
            <a class="flex flex-row h-auto items-center w-full gap-x-4 text-md font-medium cursor-pointer hover:text-white transition text-neutral-400 py-1" href="#">
                <!-- SVG icon for Search -->
                <p class="truncate w-100">Search</p>
            </a>
            <a class="flex flex-row h-auto items-center w-full gap-x-4 text-md font-medium cursor-pointer hover:text-white transition text-neutral-400 py-1" href="{% url 'albums:album_list' %}">
              <!-- SVG icon for Albums -->
              <p class="truncate w-100">Albums</p>
            </a>
            <a class="flex flex-row h-auto items-center w-full gap-x-4 text-md font-medium cursor-pointer hover:text-white transition text-neutral-400 py-1" href="{% url 'artists:artist_list' %}">
              <!-- SVG icon for Artists -->
              <p class="truncate w-100">Artists</p>
            </a>
            <a class="flex flex-row h-auto items-center w-full gap-x-4 text-md font-medium cursor-pointer hover:text-white transition text-neutral-400 py-1" href="{% url 'playlists:playlist_list' %}">
              <!-- SVG icon for Playlists -->
              <p class="truncate w-100">Playlists</p>
            </a>
            <a class="flex flex-row h-auto items-center w-full gap-x-4 text-md font-medium cursor-pointer hover:text-white transition text-neutral-400 py-1" href="{% url 'tracks:track_list' %}">
              <!-- SVG icon for Tracks -->
              <p class="truncate w-100">Tracks</p>
            </a>
            <a class="flex flex-row h-auto items-center w-full gap-x-4 text-md font-medium cursor-pointer hover:text-white transition text-neutral-400 py-1" href="{% url 'user_songs:usersong_list' %}">
              <!-- SVG icon for User Songs -->
              <p class="truncate w-100">User Songs</p>
            </a>
        </div>
        <div class="flex justify-end space-x-2 pr-4 pb-4">
          {% if user.is_authenticated %}
              <!-- Logged-in Navbar -->
              <a href="{% url 'users:user_detail' user.pk %}" class="inline-block text-sm px-4 py-2 rounded-xl text-black bg-white hover:text-white hover:bg-neutral-900 duration-200 mt-4 lg:mt-0">Profile</a>
              <a href="{% url 'users:logout' %}" class="inline-block text-sm px-4 py-2 rounded-xl text-black bg-white hover:text-white hover:bg-neutral-900 duration-200 mt-4 lg:mt-0">Logout</a>
          {% else %}
            <a href="{% url 'users:login' %}" class="inline-block text-sm px-4 py-2 rounded-xl text-black bg-white hover:text-white hover:bg-neutral-900 duration-200 mt-4 lg:mt-0">Sign In</a>
            <a href="{% url 'users:register' %}" class="inline-block text-sm px-4 py-2 rounded-xl text-black bg-white hover:text-white hover:bg-neutral-900 transition-colors duration-200 mt-4 lg:mt-0">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </aside>

    <!-- Content -->
    <div class="h-full flex-1 overflow-y-auto py-2 mr-2">
        {% block content %}
        <div class="bg-neutral-900 rounded-lg h-full w-full overflow-hidden overflow-y-auto py-5">
          <h2 class="text-6xl font-bold mb-5 text-center text-white">Welcome to HarmonyFlow</h2>
          <p class="text-center text-xl text-white">A platform where you can explore the world of music, find your favorite tracks, and track your music journey. Let's get started!</p>
          <div class="mt-10 text-center">
            <a href="{% url 'albums:album_list' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Browse Albums</a>
            {% if user.is_authenticated %}
            <a href="{% url 'user_songs:usersong_list' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">My Songs</a>
            {% else %}
            <a href="{% url 'users:login' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Login</a>
            {% endif %}
          </div>
        </div>
        {% endblock %}
    </div>
  

    <!-- Audio Player -->
    <div class="fixed inset-x-0 bottom-0 bg-neutral-900 text-white py-4 shadow-lg">
      <div class="container mx-auto flex items-center justify-between">
        <div id="track-info" class="flex items-center">
          <img id="album-art" class="h-12 w-12 object-cover rounded mr-4" src="{% static 'img/default-album.jpg' %}" alt="Album Art">
          <div>
            <h2 id="track-title" class="font-semibold text-lg">Track Title</h2>
            <p id="artist-name" class="text-gray-400">Artist Name</p>
          </div>
        </div>
        
        <div class="flex items-center justify-center space-x-4">
          <button id="play-pause-button" class="focus:outline-none">
            <svg id="play-icon" class="h-6 w-6 fill-current text-white" viewBox="0 0 20 20">
              <path d="M5 3l14 9-14 9V3z"></path>
            </svg>
            <svg id="pause-icon" class="hidden h-6 w-6 fill-current text-white" viewBox="0 0 20 20">
              <path d="M5 3h4v14H5V3zm6 0h4v14h-4V3z"></path>
            </svg>
          </button>
          <input id="audio-slider" class="appearance-none bg-gray-300 h-1 rounded-full w-64" type="range" min="0" max="100" value="0">
          <div id="time-display" class="text-white">0:00 / 0:00</div>
        </div>
    
        <audio id="audio-player" class="hidden">
          <source src="" type="audio/mpeg">
        </audio>
      </div>
    </div>

</body>
</html>